*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.title{
    color: gainsboro;
    margin-left:30px;
    
}
.lens{
    position: relative;
    display: inline-block;
}
.lens button{
    visibility: hidden;
    width: 80px;
    border-color: white;
    background:none;
    
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 4px;
    position: absolute;
    z-index: 1;
    top: 120%; 
    left: 70%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
}
.lens:hover button{
    visibility: visible;
    opacity: 1;
}

a{
    text-decoration: none;
}
.cart{
    color: white;
    position: relative;
}
header{
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.877);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 100;
    /* cursor: pointer; */
    
}
header a{
    text-decoration: none;
    color: white;
    cursor:pointer;
}

.headerIcons{
   color: white;
   list-style: none;
   display: flex;
   gap: 50px;
   font-size: x-large;
   margin-right: 50px;
   /* cursor: pointer; */
}
li{
    color: gainsboro;
    cursor: pointer;
}
.count{
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    font-size: small;
    position: absolute;   
}
