*{
    background-color:  rgba(0, 0, 0, 0.953);
}
.left-side{
   
    width: 18%;
    margin-top: 80px;
    height: 600px;
    overflow:scroll; 
    
}
.sortBy{
    color: rgb(180, 179, 179);
    margin: 30px;
    
}
input{
    color: rgb(180, 179, 179);
    
    
}
label{
    margin-left: 10px;
    color: rgb(180, 179, 179);
}
.sortBy h5{
    font-weight:bolder;
}
.right-side{
    margin-top: 80px;
}
/* .cont{
    background-color: rgba(0, 0, 0, 0.891);
} */
.range-bar{
    color:rgb(180, 179, 179) ;
    margin-left: 30px;
}
label, input{
    cursor: pointer;
}
.right-side{
    width: 80%;
}

.sortBy dt {
    cursor: pointer;
    color: rgb(180, 179, 179);
}

.sortBy dt:hover,
.sortBy dt.active {
    color: red;
    font-weight: bold;
}
.clearFilter{
    color: rgb(231, 226, 226);
    background-color: red;
    padding: 8px 50px;
    margin-bottom: 10px;

}


