*{
    background-color:  rgba(0, 0, 0, 0.953);
}
.left-side{
   
    width: 15%;
    margin-top: 80px;
    height: 600px;
    overflow:scroll;        
}
.sortBy{
    color: rgb(180, 179, 179);
    margin: 30px;
    
}
label{
    margin-left: 10px;
    color: rgb(180, 179, 179);
}
.sortBy h5{
    font-weight:bolder;
}
.right-side{
    margin-top: 80px;
}
/* .cont{
    background-color: rgba(0, 0, 0, 0.891);
} */
.range-bar{
    color:rgb(180, 179, 179) ;
    margin-left: 30px;
}
.sortBy dt:hover{
    cursor: pointer;
    color: red;

}
label, input{
    cursor: pointer;
}
.right-side{
    width: 80%;
}


